
.icon-mail:before { content: '\e800'; } /* '' */
.icon-star-fill:before { content: '\e801'; } /* '' */
.icon-star-half-fill:before { content: '\e802'; } /* '' */
.icon-star-outline:before { content: '\e803'; } /* '' */
.icon-watch:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\e805'; } /* '' */
.icon-back-arrow:before { content: '\e806'; } /* '' */
.icon-call:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-bell:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-sort-by:before { content: '\e80b'; } /* '' */
.icon-eye-off:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-approve-tick:before { content: '\e80e'; } /* '' */
.icon-dollar:before { content: '\e80f'; } /* '' */
.icon-file-2:before { content: '\e810'; } /* '' */
.icon-file:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-setting:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-call-2:before { content: '\e815'; } /* '' */